
* {
    padding: 0;
    margin: 0;
}
p {
    color: #797979;
}
body {
    background-color: #f9f9f9;
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif
}
.header-top {
    /*padding: 20px 0;*/
    background-color: #fff;
    /*height: 15px;*/
}

.navbar {
    background-color: #fff;
    border: none;
    font-size: 16px;
    margin:15px 0;
}
.navbar-header a {
    font-family: "Î¢ÈíÑÅºÚ";
    font-weight: bold;
}

.content {
    /*background-color: #E92322;*/
    margin-top: 15px;
}

/*.ps-top {*/
    /*margin-top: 15px;*/
/*}*/

.thumbnail {
    padding: 15px;
    background-color: #fff;
}

.thumbnail img {
    width: 100%;
    /*height: 300px;*/
    height: 100%;
}

.meta time {
}

.tags a {
    background-color: #CCCCCC;
    color: #fff;
    margin-right: 5px;
    border-radius: 3px;
    padding: 3px;
    text-decoration: none;
}
.tags a:hover {
    background-color: #00BFF0;
}
.caption h3 {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}
.caption a {
    text-decoration: none;
}

.caption h3:hover {
    color: #00BFF0;
}

.read-continue {
    font-weight: bold;
    color: #00BFF0;
}


/*·ÖÒ³*/
.navigation .pagination {
    margin: 0 auto;
}


/*/!*ÓÒ²àÃæ°å**/
.panel .panel-body .ps-link1 {
    padding: 3px;
}

.panel .panel-body .ps-link1 li {
    list-style: none;
    border-bottom: 1px solid #f5f5f5;
    font-size: 14px;
    padding: 3px;
}

.panel .panel-body .ps-link1 li.ps-more {
    border-bottom: none;

}
.panel-default .panel-body p {
    color: #797979;
}
.panel-title {
    font-size: 18px;
    font-weight: bold;
}
.panel .panel-body ul li a {
    text-decoration: none;
    color: #797979;
}
.panel .panel-body ul li a:hover {
    color: #00BFF0;
}


.panel-default .panel-body .ps-link a {
    padding: 3px;
    text-decoration: none;
    color: #797979;
}
.panel-default .panel-body .ps-link a:hover {
    color: #00BFF0;
}



/*Î²²¿*/
.ps-footer-info {
    background-color: #2d2e2f;
}
.ps-footer-info .footer-link {
    padding: 12px 20px;
    text-align: center;
    list-style: none;
    overflow: hidden;
}
.ps-footer-info .footer-link > li:nth-child(n+2) {
    margin-left: 15px;
}
.ps-footer-info .footer-link > li,.ps-footer-info .footer-link > li > a{
    display: inline-block;
    color: #797979;
    font-size: 14px;
}
.ps-footer-info .footer-link > li > a:hover {
    color: #00BFF0;
}
.ps-footer-copyright {
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 30px;
}
.ps-footer-copyright a {
    color: #797979;
}
.ps-footer-copyright a:hover {
    color: #00BFF0;
}
.ps-footer {
    background-color: #242424;
}
































